.stepper-container {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 20px;
  }
  
  .stepper-box {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .stepper-completed {
    text-align: center;
  }

  @media (max-width: 768px) {
    .stepper-container {
        width: 80%;
        margin: 20px auto;
        padding: 15px;
    }

    .stepper-box {
        flex-direction: column;
        align-items: center;
    }

    .stepper-box button {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .stepper-container {
        width: 110%;
        margin-left: -20px;
    }

    .stepper-box {
        flex-direction: column;
        align-items: center;
    }

    .stepper-box button {
        width: 100%;
        margin-top: 10px;
    }
}