.stepper-container {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 20px;
  }
  
  .stepper-box {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .stepper-completed {
    text-align: center;
  }